
img{
    
    width: 150px;
    height: 150px;
    
    border: 5px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 500px;
}
body {
    
    margin: 0;
    background-color: whitesmoke;
    

}
#hero {

    background-image: url("images/Hilo.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#SLogo  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    border: 0;
    border-radius: 0%;
    
}

.card{
    
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    display: flex;
    background: lightgrey;
    padding: 20px;
    border: 1px dotted black;
    border-bottom: 5px solid purple;
    border-radius: 30px;
    justify-content: space-around;

}
.info{
    border: 1px dotted black;
    border-bottom: 5px solid purple;
    font-style: italic;
    text-align: center;
    padding: 5px;
}
.P-1{
    text-align: center;
    font-style: italic;
    color: blanchedalmond;
}
.meow{
    color: red;
}
.main {

    display: flex;
    justify-content: center;
    
}

.search-input{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    border: 5px;
    border-color: #dfe1e5;
    border-radius: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}


.btn {
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    background-color: #dfe1e5;
    
   
}

.lcky {

    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    background-color: #dfe1e5;
}

#hbtm {

    text-align: center;
    font-size: 50px;
    text-shadow: -3px 0px 5px red;
}